/*500*726*/

.card_10_of_clubs { background-image: url(../images/png_cards/10_of_clubs.png); }
.card_10_of_diamonds { background-image: url(../images/png_cards/10_of_diamonds.png); }
.card_10_of_hearts { background-image: url(../images/png_cards/10_of_hearts.png); }
.card_10_of_spades { background-image: url(../images/png_cards/10_of_spades.png); }
.card_2_of_clubs { background-image: url(../images/png_cards/2_of_clubs.png); }
.card_2_of_diamonds { background-image: url(../images/png_cards/2_of_diamonds.png); }
.card_2_of_hearts { background-image: url(../images/png_cards/2_of_hearts.png); }
.card_2_of_spades { background-image: url(../images/png_cards/2_of_spades.png); }
.card_3_of_clubs { background-image: url(../images/png_cards/3_of_clubs.png); }
.card_3_of_diamonds { background-image: url(../images/png_cards/3_of_diamonds.png); }
.card_3_of_hearts { background-image: url(../images/png_cards/3_of_hearts.png); }
.card_3_of_spades { background-image: url(../images/png_cards/3_of_spades.png); }
.card_4_of_clubs { background-image: url(../images/png_cards/4_of_clubs.png); }
.card_4_of_diamonds { background-image: url(../images/png_cards/4_of_diamonds.png); }
.card_4_of_hearts { background-image: url(../images/png_cards/4_of_hearts.png); }
.card_4_of_spades { background-image: url(../images/png_cards/4_of_spades.png); }
.card_5_of_clubs { background-image: url(../images/png_cards/5_of_clubs.png); }
.card_5_of_diamonds { background-image: url(../images/png_cards/5_of_diamonds.png); }
.card_5_of_hearts { background-image: url(../images/png_cards/5_of_hearts.png); }
.card_5_of_spades { background-image: url(../images/png_cards/5_of_spades.png); }
.card_6_of_clubs { background-image: url(../images/png_cards/6_of_clubs.png); }
.card_6_of_diamonds { background-image: url(../images/png_cards/6_of_diamonds.png); }
.card_6_of_hearts { background-image: url(../images/png_cards/6_of_hearts.png); }
.card_6_of_spades { background-image: url(../images/png_cards/6_of_spades.png); }
.card_7_of_clubs { background-image: url(../images/png_cards/7_of_clubs.png); }
.card_7_of_diamonds { background-image: url(../images/png_cards/7_of_diamonds.png); }
.card_7_of_hearts { background-image: url(../images/png_cards/7_of_hearts.png); }
.card_7_of_spades { background-image: url(../images/png_cards/7_of_spades.png); }
.card_8_of_clubs { background-image: url(../images/png_cards/8_of_clubs.png); }
.card_8_of_diamonds { background-image: url(../images/png_cards/8_of_diamonds.png); }
.card_8_of_hearts { background-image: url(../images/png_cards/8_of_hearts.png); }
.card_8_of_spades { background-image: url(../images/png_cards/8_of_spades.png); }
.card_9_of_clubs { background-image: url(../images/png_cards/9_of_clubs.png); }
.card_9_of_diamonds { background-image: url(../images/png_cards/9_of_diamonds.png); }
.card_9_of_hearts { background-image: url(../images/png_cards/9_of_hearts.png); }
.card_9_of_spades { background-image: url(../images/png_cards/9_of_spades.png); }
.card_ace_of_clubs { background-image: url(../images/png_cards/ace_of_clubs.png); }
.card_ace_of_diamonds { background-image: url(../images/png_cards/ace_of_diamonds.png); }
.card_ace_of_hearts { background-image: url(../images/png_cards/ace_of_hearts.png); }
.card_ace_of_spades { background-image: url(../images/png_cards/ace_of_spades.png); }
.card_ace_of_spades2 { background-image: url(../images/png_cards/ace_of_spades2.png); }
.card_black_joker { background-image: url(../images/png_cards/black_joker.png); }
.card_jack_of_clubs { background-image: url(../images/png_cards/jack_of_clubs.png); }
.card_jack_of_clubs2 { background-image: url(../images/png_cards/jack_of_clubs2.png); }
.card_jack_of_diamonds { background-image: url(../images/png_cards/jack_of_diamonds.png); }
.card_jack_of_diamonds2 { background-image: url(../images/png_cards/jack_of_diamonds2.png); }
.card_jack_of_hearts { background-image: url(../images/png_cards/jack_of_hearts.png); }
.card_jack_of_hearts2 { background-image: url(../images/png_cards/jack_of_hearts2.png); }
.card_jack_of_spades { background-image: url(../images/png_cards/jack_of_spades.png); }
.card_jack_of_spades2 { background-image: url(../images/png_cards/jack_of_spades2.png); }
.card_king_of_clubs { background-image: url(../images/png_cards/king_of_clubs.png); }
.card_king_of_clubs2 { background-image: url(../images/png_cards/king_of_clubs2.png); }
.card_king_of_diamonds { background-image: url(../images/png_cards/king_of_diamonds.png); }
.card_king_of_diamonds2 { background-image: url(../images/png_cards/king_of_diamonds2.png); }
.card_king_of_hearts { background-image: url(../images/png_cards/king_of_hearts.png); }
.card_king_of_hearts2 { background-image: url(../images/png_cards/king_of_hearts2.png); }
.card_king_of_spades { background-image: url(../images/png_cards/king_of_spades.png); }
.card_king_of_spades2 { background-image: url(../images/png_cards/king_of_spades2.png); }
.card_queen_of_clubs { background-image: url(../images/png_cards/queen_of_clubs.png); }
.card_queen_of_clubs2 { background-image: url(../images/png_cards/queen_of_clubs2.png); }
.card_queen_of_diamonds { background-image: url(../images/png_cards/queen_of_diamonds.png); }
.card_queen_of_diamonds2 { background-image: url(../images/png_cards/queen_of_diamonds2.png); }
.card_queen_of_hearts { background-image: url(../images/png_cards/queen_of_hearts.png); }
.card_queen_of_hearts2 { background-image: url(../images/png_cards/queen_of_hearts2.png); }
.card_queen_of_spades { background-image: url(../images/png_cards/queen_of_spades.png); }
.card_queen_of_spades2 { background-image: url(../images/png_cards/queen_of_spades2.png); }