@import "boostrap-less/bootstrap.less";
@import "jquery-ui.css";
@import "jquery-ui.structure.css";
@import "jquery-ui.theme.css";
//@import "cards.css";
@import "cards_svg.css";

@card_width: 180px;
@card_height: @card_width * 726 / 500;
@other_player_width: 180px;
@position_margin: 75px;

.all_transform(@deg){
	-ms-transform: rotate(@deg); /* IE 9 */
	-webkit-transform: rotate(@deg); /* Chrome, Safari, Opera */
	transform: rotate(@deg);
}

@media all and (max-height: 900px){
	.top_player, .left_player, .right_player {
//		visibility: hidden;
	}
	.game_area {
//		top: 20px !important;
	}
}

html{
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-image: url(../images/wood.jpg);
}
.info, .game_mode_info, .status, .bt_redraw {
	color: white;
	background-color: rgba(240,0,0,0.7);
	position: absolute;
	top: 0;
	z-index: 150;
	font-size: 24px;
	padding: 2px 5px;
}
.info {
	text-decoration: underline;
	cursor: pointer;
	right: 0;
}
.game_mode_info {
	left: 0;
}
.status {
	top: auto;
	left: 0;
	bottom: 0;
}
.bt_redraw {
	text-decoration: underline;
	cursor: pointer;
	top: auto;
	right: 0;
	bottom: 0;
}
iframe {
	width: 50%;
	height: 50%;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.bg_container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../images/bg5.jpg);
	border-radius: 125px;
	background-position: center center;
}
.left_player, .right_player, .top_player {
	z-index: 10;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	.card_number {
		font-size: 74px;
		color: white;
		text-align: center;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
	.avatar {
		position: absolute;
		background-size: 70%;
		background-position: center center;
		background-repeat: no-repeat;
		width: @other_player_width;
		height: @other_player_width;
		top: 0;
		left: 0;
		border-radius: @other_player_width / 2;
		& + .image {
			width: @other_player_width;
			height: @other_player_width;
			position: absolute;
			background-image: url(../images/circle_on.png);
			background-size: 100% 100%;
			top: 0;
			left: 0;
			&.on {
				background-image: url(../images/circle_off.png);
			}
		}
	}

}
.left_player, .right_player {
	top: 0;
	width: @other_player_width;
	height: 100%;
	background-size: 100% auto;
	font-size: 0;
	.col {
		width: 0px;
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}
	.inner_container {
		width: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
	.card_number {
		display: inline-block;
		margin-top: @other_player_width;
	}
}
.left_player {
	left: 0;
	background-image: url(../images/cards_left.png);
	.avatar {
		position: static;
	}
	.avatar, .image {
		margin-top: 100px;
	}
	.card_number {
		position: absolute;
		top: 50;
		left: @other_player_width / 2 - 50;
		margin-top: 0;
	}

}
.right_player {
	right: 0;
	background-image: url(../images/cards_right.png);
}
.top_player {
	background-size: auto 100%;
	background-image: url(../images/cards_top.png);
	left: 0;
	top: 0;
	width: 100%;
	height: @other_player_width;
	text-align: center;
	.avatar_container {
		position: relative;
		display: inline-block;
		width: @other_player_width;
		height: @other_player_width;
		vertical-align: middle;
	}
	.card_number {
		display: inline-block;
		vertical-align: middle;
	}
}
.player_container {
//	padding-bottom: 150px;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	max-width: 1050px;
	margin: 0 auto;
	& > div {
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: -150px;
	}
	img {
		max-width: @card_width;
	}
}
.player {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
	width: 100%;
	.inner {
		position: relative;
		display: inline-block;
		max-width: 100%;
		white-space: nowrap;
		.spacer {
			overflow: hidden;
			visibility: hidden;
		}
		.card_container {
			left: 0;
			bottom: 0;
//			bottom: -150px;
			position: absolute;
			.table_container {
				padding-right: @card_width;
				table {
					float: left;
					table-layout: fixed;
					width: 100%;
				}
			}
		}
	}
	.my_cards {
		.card {
			position: fixed !important;
			z-index: 100;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			transition: left 1s;
			&.ui-draggable {
				background-size: 98% 100%;
			}
			&.ui-draggable.ui-draggable-disabled {
				background-size: 100% 100%;
			}
			&.ui-draggable-dragging {
				transition: none;
				z-index: 200;
			}
			&.ui-draggable:after {
				left: 0px;
				top: 0px;
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url(../images/card_ok.png);
				background-size: 100% 100%;
			}
			&:hover:after {
				background-image: url(../images/card_on.png) !important;
			}
			&.ui-draggable.ui-draggable-disabled:after {
				display: none;
			}
		}
	}
}

.game_area {
	position: absolute;
	top: @other_player_width;
	left: @other_player_width;
	right: @other_player_width;
	bottom: @card_height - 150 + 10;
}

.positions {
	& > div {
		position: absolute;
		& > div {
			background-size: auto 100%;
			background-position: center center;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
//			&.hover {
//				z-index: 200;
//			}
		}
	}
	.position_top, .position_bottom {
		height: @card_height;
		width: @card_width;
		left: 50%;
	}
	.position_right, .position_left {
		position: absolute;
		height: @card_height;
		width: @card_height;
		top: 50%;
		.all_transform(90deg);
	}
	.position_top {
		bottom: 35%;
		margin-left: @card_width / -2 - @position_margin;
	}
	.position_bottom {
		top: 40%;
		margin-left: @card_width / -2 - 0;
	}
	.position_left {
		margin-top: @card_height / -2 + @position_margin;
		right: 45%;
	}
	.position_right {
		margin-top: @card_height / -2 - @position_margin / 2;
		left: 45%;
	}
}

.trex_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -2%;
	text-align: justify;
	font-size: 0;
	& > span {
		height: 100%;
		display: inline-block;
		width: 0;
		vertical-align: middle;
	}
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
	}
	& > div {
//		position: relative;
		max-width: 25%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		img.card {
			max-width: 100%;
			width: @card_width;
			height: auto;
			background-size: 100% 100%;
		}
		.bottom_card {
			display: none;
		}
		span {
			display: none
		}
		img.extra_cards {
			margin-top: -120%;
			max-width: 100%;
			width: @card_width;
			display: none;
			&.off {
				display: block;
				visibility: hidden;
				& + .bottom_card {
					display: inline-block;
					margin-top: -1.6%;
				}
			}
			&.on {
				display: block;
				& + .bottom_card {
					display: inline-block;
					margin-top: -1.6%;
				}
			}
		}
	}
}
.popup_container {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
//	background-color: rgba(0,0,0,0.2);
	&.off {
		display: none;
	}
	.popup {
//		opacity: 0.8;
		position: absolute;
//		background-color: rgba(255,255,255,0.7);
//		border: 1px solid black;
//		border-radius: 5px;
		width: 600px;
		height: 450px;
		top: 50%;
		left: 50%;
		margin-left: -300px;
		margin-top: -225px;
		padding: 15px;
	}
	.popup > div {
		margin: 0 auto;
		width: 400px;
		display: none;
		&.active {
			display: block;
		}
	}
	.waiting_for_players {
		h2 {
			text-shadow:
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				1px 1px 0 #fff;
			margin-top: 168px;
		}
	}
	.show_results {
		background-color: white;
		padding: 15px;
		border-radius: 10px;
		border: 1px solid black;
		.restart {
			display: none;
		}
		&.end_game {
			.restart {
				display: block;
			}
		}
		td {
			font-weight: bold;
		}
	}
	.choose_game_mode {
		.btn:not(.btn_on) {
			pointer-events: none;
			cursor: not-allowed;
			filter: alpha(opacity=65);
			-webkit-box-shadow: none;
			box-shadow: none;
			opacity: .65;
		}
		.btn {
			background-color: rgba(0,0,0,0.2);
			border: 2px solid black;
			font-weight: bold;
			text-shadow:
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				1px 1px 0 #fff;
			&:hover {
				color: white;
				text-shadow:
					-1px -1px 0 #000,
					1px -1px 0 #000,
					-1px 1px 0 #000,
					1px 1px 0 #000;
			}
		}
	}
	.btn {
		display: block;
		margin-bottom: 5px;
	}

	h2 {
		margin-top: 0;
		text-align: center;
	}
}
